.text-red-500 {
  color: #f56565;
}
.text-green-500 {
  color: #48bb78;
}
.text-gray-500 {
  color: #a0aec0;
}
.text-blue-500 {
  color: #4299e1;
}
.text-yellow-500 {
  color: #ecc94b;
}
.text-purple-500 {
  color: #9f7aea;
}
.text-black{
    color: #000000;
}
.text-white {
    color: #FFFFFF;
}